body {
  background-color: gray;
}

#jumbotron1 {
  display: inline-block;
}
#temp, #humidity, #wind, #precip  {
  display: flex;
  justify-content: space-around;
  min-height: 100px;
}

#unitInput {
  max-width: 50px;
  color: rgb(43, 28, 28);
  font-weight: bold;
}

/*#location {
  display: flex;
  justify-content: center;
}*/
