body {
  background-color: gray;
}

#jumbotron1 {
  display: inline-block;
}
#a, #b, #c, #d, #e, #f, #g {
  border: 2px solid rgba(0, 79, 184, 0.86);
  background-color: rgba(182, 185, 255, 0.8);
  display: flex;
  justify-content: space-around;
  min-height: 100px;
}

#unitInput {
  max-width: 50px;
  color: rgb(43, 28, 28);
  font-weight: bold;
}
