body {
  background-color: gray;
}

#jumbotron1 {
  display: inline-block;
}
#precip  {
  display: flex;
  justify-content: space-around;
}

#unitInput {
  max-width: 50px;
  color: rgb(43, 28, 28);
  font-weight: bold;
}

#favs {
  display: inline;
 float: right;
}

.table {
    table-layout: fixed;
    word-wrap: break-word;
}

.invisible {
  display: hidden;
}
